#header {
    display: flex;
    justify-content: space-around;
}

.menu li a {
    text-decoration: none;
    color: #000000;
}

@font-face {
    font-family: inter;
    src: url(inter.ttf);
}

.menu li {
    display: inline;
    padding-left: 32px;
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
}

#btn button {
    padding: 12px 16px;
    background-color: #469165;
    border: 0px;
    border-radius: 4px;
    font-family: inter;
    color: #ffffff;
    font-weight: 600;
}

/* section started */

#hero {
    background-image: url();
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 34px;
    min-height: 400px;
}

.h1 h1 {
    font-size: 50px;
    width: 500px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: inter;
}
h1 .color {
    color: #30B868;
}

p {
    font-size: 18px;
    width: 700px;
    padding: 0%;
    text-align: center;
    font-family: inter;
}

.start-btn {
    background-color: #469165;
    padding: 16px 46px 16px 16px  ;
    font-size: 16px;
    font-family: inter;
    font-weight: 500;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.see-btn {
    background-color: #ffffff;
    padding: 15px 46px 15px 16px  ;
    font-size: 16px;
    font-family: inter;
    font-weight: 500;
    color: #000000;
    margin-left: 16px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn button {
    font-family: inter;
    font-size: 16px;
    padding: 8px 12px 8px 34px;
    border-radius: 50px;
    border: 0;
    background-color: #ffffff;

}